.navbar .logo {
  max-height: 3.25rem;
  margin-bottom: -3px;
}

#overlayContainer {
  position: fixed;
  background-color: rgba(10,10,10,.86);
  z-index: 99;
}

#sandboxIframe {
  height: 100%;
  border-radius: 6px;
}

#menu {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  letter-spacing: 1px;
  font-size: 2em;
  background-color: #002b36;
  padding: 10px 10px 16px 13px;
  border-bottom-left-radius: 4px;
}

#menu > ul {
  list-style: none;
  font-weight: 700;
  font-size: clamp(2rem, 3vw, 3rem);
  text-align: center;
}

#menu > li {
  display: inline-block;
}

#menu > li > a {
  color: inherit;
  text-underline-offset: var(--offset, 0.2em);
  text-decoration: underline;
  transition: --offset 400ms, text-decoration-color 400ms;
}

#menu > li.active > a,
#menu > li > a:hover,
#menu > li > a:focus {
  --offset: 0.4em;
  text-decoration-color: orange;
}

@supports not (background: paint(something)) {
  #menu > li > a {
    transition: text-underline-offset 400ms, text-decoration-color 400ms;
  }

  #menu > li.active > a,
  #menu > li > a:hover,
  #menu > li > a:focus {
    text-underline-offset: 0.4em;
  }
}

#pages {
  margin-top: 2rem;

}

.scrollable {
  overflow: scroll;
  max-height: 80vh;
}

#fp-nav.fp-right {
  right: 5px;
}

#fp-nav ul li a span {
  background: rgb(131, 148, 150);
}

.overflow-elipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#notifyContainer {
  position: fixed;
  background-color: rgba(10,10,10,.86);
  z-index: 9999999;
}

.progress-small {
  width: 200px;
}

.buttons.card-content {
  display: inline-block;
  white-space: nowrap;
}

.loader {
  @include loader;
}

.app-container {
  width: 140px;
  min-height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.app-container-list .app-container {
  margin-bottom: 20px;
  margin-right: 20px;
}

.app {
  width: 70px;
  height: 70px;
  margin-bottom: 5px;
  padding: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: relative;
}

.app-container .app.can-run {
  cursor: pointer;
}

.app img {
  width: 100%;
  height: 100%;
}
.app img path {
  color: #61dafb;
  fill: #61dafb;
}

.app .delete {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: black;
}

.app .disk, .app .pencil {
  position: absolute;
  top: -5px;
  left: -5px;
}

.disk {
  -moz-appearance: none;
  -webkit-appearance: none;
  border: 0;
  border-radius: 290486px;
  cursor: pointer;
  pointer-events: auto;
  display: inline-block;
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 0;
  height: 20px;
  max-height: 20px;
  max-width: 20px;
  min-height: 20px;
  min-width: 20px;
  outline: 0;
  position: relative;
  vertical-align: top;
  width: 20px;
  transform: rotate(30deg);
  background-color: black;
}

.pencil {
  width: 2px;
  height: 10px;
  background: white;
  position: relative;
  transform: rotate(30deg);
  z-index: 10;
  margin-left: 9px;
  margin-top: 5px;
}

.pencil::after {
  content: "";
  position: absolute;
  width: 1.6px;
  height: 1.6px;
  background: white;
  left: 0.2px;
  bottom: -0.8px;
  transform: rotate(45deg);
  z-index: 10;
}
