

.overflow-elipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.installedApp {
  display: flex;
  flex-direction: row;
}

.installedApp > * {
  margin-right: 5px;
}

#overlayContainer {
  position: fixed;
  background-color: rgba(10,10,10,.86);
  z-index: 1;
}

#sandboxIframe {
  height: 100%;
  border-radius: 6px;
}

.chatBox {
  overflow: scroll;
  min-height: 200px;
  max-height: 400px;
}
